<div ng-hide = "myForm.myName.$invalid || vm.flagl">
<div class="row" >
		<div class="col-sm-6">
			<br/>
			<table class="table">
			<caption class="tablecaption">&nbsp User List</caption>
				<tr ng-repeat="eobj in vm.userLog ">
					<td><a ng-href="#userView" ng-click ="vm.userDetail(eobj.url, eobj.repos_url);">{{eobj.login}}</a></td>
				</tr>
			</table>				
		</div>
		
		<div class="col-sm-6">
			<br/>
			<table class="table table-responsive">
			<caption class="tablecaption">&nbsp Repository List</caption>
				<tr ng-repeat="eobj in vm.repoLog ">
					<td> <a ng-href="#repoView" ng-click ="vm.repoDetail(eobj.url);">{{eobj.full_name}}</a></td>
				</tr>
			</table>				
		</div>
	</div>
</div>